<html>
<body>
<form action="https://localhost:44395/api/auth/register" method="post">
  <input type="text" name="Email">
  <input type="text" name="Password">
  <input type="text" name="ConfirmPassword">
  <button type="submit">Submit</button>
</form>
</body>
</html>