<html>
  <body>
    <div>
      <button id="loginSpotify">Login to Spotify</button>
      <a href="/auth" id="register">Register</a>
      <a href="/auth/login" id="login">Login</a>
    </div>
    <script>
        (function () {
            document.getElementById("loginSpotify").onclick = function() {
                // let request = new XMLHttpRequest();

                //request.onreadystatechange = function () {
                //  console.log(this);
               // };

                // request.open("GET",
                //  'https://accounts.spotify.com/authorize?response_type=code' +
                //    '&client_id=<%= @client_id %>' +
                //    '&scope=' + encodeURIComponent('user-read-private user-read-email') +
                    // '&redirect_uri=' + encodeURIComponent('http://localhost:8080');
                //    '&redirect_uri=' + encodeURIComponent('https://localhost:44395/api/auth/callback')
                // );

                // request.send();

                window.location.href = 'https://accounts.spotify.com/authorize?response_type=code' +
                    '&client_id=<%= @client_id %>' +
                    '&scope=' + encodeURIComponent('user-read-private user-read-email') +
                    '&redirect_uri=' + encodeURIComponent('http://localhost:8080');
                    // '&redirect_uri=' + encodeURIComponent('https://coms-309-jr-2.cs.iastate.edu/api/auth/callback');
            }
        })()
    </script>
  </body>
</html>